body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerIndex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*pakeista i min-height is height*/
}
.content {
  display: flex;
  /*flex-grow: 1; /* Allow the content to take up remaining space */
}
.main{
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  display: block;
  flex: 1; /* Allow the main content area to take up remaining space */
}
.link-as-text {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* No underline */
  cursor: default; /* Default cursor instead of the pointer */
}

.link-as-text:hover {
  color: blue; /* Change to any color that indicates it's a link */
  text-decoration: underline; /* Typical link indication */
  cursor: pointer; /* Changes cursor to pointer to indicate clickable */
}
