.footer {
  position: fixed; /* Change position to fixed for footer */
  bottom: 0;
  left: 250px; /* Adjusted left position */
  width: calc(100% - 250px); /* Adjusted width */
  padding-left: 250px; /* Added padding to offset the content */
  background-color: #335285; /* Match the background color of the navigation bar */
  z-index: 998;
}
