.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; /* Use min-height instead of height */
}

.content {
    text-align: center;
}

.heading {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.heading:hover {
    transform: scale(1.1);
}